# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\phdSA\lesson12-streamAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
